<div class="page-header">
  <h3>Party #<%= @party.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/parties" class="btn btn-primary">
        Back
      </a>
      <a href="/parties/<%= @party.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_party/<%= @party.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Party has many rotations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Rotations
      </li>

      <% @party.rotations.each do |rotation| %>
        <li class="list-group-item">
          <a href="/rotations/<%= rotation.id %>">
            <%= rotation.bump_group_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/rotations/<%= rotation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/rotations/<%= rotation.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_rotation/<%= rotation.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_rotation" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for bump_group_id -->
      <div class="form-group">
        <label for="bump_group_id" class="control-label">
          Bump group
        </label>

        <%= select_tag(:bump_group_id, options_from_collection_for_select(BumpGroup.all, :id, :letter), :class => "form-control") %>
      </div>

      <!-- Label and input for party_id -->
      <input type="hidden" name="party_id" value="<%= @party.id %>">

      <button class="btn btn-block btn-success">
        Create Rotation
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Party has many pnms -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Pnms
      </li>

      <% @party.pnms.each do |pnm| %>
        <li class="list-group-item">
          <a href="/pnms/<%= pnm.id %>">
            <%= pnm.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/pnms/<%= pnm.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/pnms/<%= pnm.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_pnm/<%= pnm.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_pnm" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for hometown -->
      <div class="form-group">
        <label for="hometown" class="control-label">
          Hometown
        </label>

        <input type="text" id="hometown" name="hometown" placeholder="Hometown" class="form-control" value="">
      </div>

      <!-- Label and input for year -->
      <div class="form-group">
        <label for="year" class="control-label">
          Year
        </label>

        <input type="text" id="year" name="year" placeholder="Year" class="form-control" value="">
      </div>

      <!-- Label and input for party_id -->
      <input type="hidden" name="party_id" value="<%= @party.id %>">

      <button class="btn btn-block btn-success">
        Create Pnm
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Party has many conversations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Conversations
      </li>

      <% @party.conversations.each do |conversation| %>
        <li class="list-group-item">
          <a href="/conversations/<%= conversation.id %>">
            <%= conversation.party_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/conversations/<%= conversation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/conversations/<%= conversation.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_conversation/<%= conversation.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_conversation" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for party_id -->
      <input type="hidden" name="party_id" value="<%= @party.id %>">

      <!-- Label and input for member_id -->
      <div class="form-group">
        <label for="member_id" class="control-label">
          Member
        </label>

        <%= select_tag(:member_id, options_from_collection_for_select(Member.all, :id, :created_at), :class => "form-control") %>
      </div>

      <!-- Label and input for pnm_id -->
      <div class="form-group">
        <label for="pnm_id" class="control-label">
          Pnm
        </label>

        <%= select_tag(:pnm_id, options_from_collection_for_select(Pnm.all, :id, :name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Conversation
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Party has many bump_groups -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bump Groups
      </li>

      <% @party.bump_groups.each do |bump_group| %>
        <li class="list-group-item">
          <a href="/bump_groups/<%= bump_group.id %>">
            <%= bump_group.letter %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bump_groups/<%= bump_group.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bump_groups/<%= bump_group.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bump_group/<%= bump_group.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
