<div class="page-header">
  <h3>Rotation #<%= @rotation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Bump group</dt>
      <dd>
        <% if @rotation.bump_group.present? %>
          <a href="/bump_groups/<%= @rotation.bump_group_id %>">
            <%= @rotation.bump_group.letter %>
          </a>
        <% end %>
      </dd>

      <dt>Party</dt>
      <dd>
        <% if @rotation.party.present? %>
          <a href="/parties/<%= @rotation.party_id %>">
            <%= @rotation.party.created_at %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/rotations" class="btn btn-primary">
        Back
      </a>
      <a href="/rotations/<%= @rotation.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_rotation/<%= @rotation.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
