<!-- Validation failure messages -->
<% if @conversation.errors.any? %>
  <% @conversation.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Conversation #<%= @conversation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_conversation/<%= @conversation.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for party_id -->
      <div class="form-group">
        <label for="party_id" class="control-label">
          Party
        </label>

        <%= select_tag(:party_id, options_from_collection_for_select(Party.all, :id, :created_at, @conversation.party_id), :class => "form-control") %>
      </div>

      <!-- Label and input for member_id -->
      <div class="form-group">
        <label for="member_id" class="control-label">
          Member
        </label>

        <%= select_tag(:member_id, options_from_collection_for_select(Member.all, :id, :created_at, @conversation.member_id), :class => "form-control") %>
      </div>

      <!-- Label and input for pnm_id -->
      <div class="form-group">
        <label for="pnm_id" class="control-label">
          Pnm
        </label>

        <%= select_tag(:pnm_id, options_from_collection_for_select(Pnm.all, :id, :name, @conversation.pnm_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Conversation
      </button>
      or
      <a href="/conversations/<%= @conversation.id %>">Cancel</a>
    </form>
  </div>
</div>
