<div class="page-header">
  <h3>Conversation #<%= @conversation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Party</dt>
      <dd>
        <% if @conversation.party.present? %>
          <a href="/parties/<%= @conversation.party_id %>">
            <%= @conversation.party.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Member</dt>
      <dd>
        <% if @conversation.member.present? %>
          <a href="/members/<%= @conversation.member_id %>">
            <%= @conversation.member.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Pnm</dt>
      <dd>
        <% if @conversation.ppm.present? %>
          <a href="/pnms/<%= @conversation.pnm_id %>">
            <%= @conversation.ppm.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/conversations" class="btn btn-primary">
        Back
      </a>
      <a href="/conversations/<%= @conversation.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_conversation/<%= @conversation.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Conversation has many bump_group -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bump Group
      </li>

      <% @conversation.bump_group.each do |bump_group| %>
        <li class="list-group-item">
          <a href="/bump_groups/<%= bump_group.id %>">
            <%= bump_group.letter %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bump_groups/<%= bump_group.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bump_groups/<%= bump_group.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bump_group/<%= bump_group.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
