<div class="page-header">
  <h3>Bump Group #<%= @bump_group.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Letter</dt>
      <dd><%= @bump_group.letter %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/bump_groups" class="btn btn-primary">
        Back
      </a>
      <a href="/bump_groups/<%= @bump_group.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_bump_group/<%= @bump_group.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Bump group has many members -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Members
      </li>

      <% @bump_group.members.each do |member| %>
        <li class="list-group-item">
          <a href="/members/<%= member.id %>">
            <%= member.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/members/<%= member.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/members/<%= member.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_member/<%= member.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        
      </li>
    </ul>
  </div>
</div>

<!-- A Bump group has many rotations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Rotations
      </li>

      <% @bump_group.rotations.each do |rotation| %>
        <li class="list-group-item">
          <a href="/rotations/<%= rotation.id %>">
            <%= rotation.bump_group_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/rotations/<%= rotation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/rotations/<%= rotation.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_rotation/<%= rotation.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_rotation" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for bump_group_id -->
      <div class="form-group">
        <label for="bump_group_id" class="control-label">
          Bump group
        </label>

        <%= select_tag(:bump_group_id, options_from_collection_for_select(BumpGroup.all, :id, :letter), :class => "form-control") %>
      </div>

      <!-- Label and input for party_id -->
      <div class="form-group">
        <label for="party_id" class="control-label">
          Party
        </label>

        <%= select_tag(:party_id, options_from_collection_for_select(Party.all, :id, :created_at), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Rotation
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Bump group has many parties -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Parties
      </li>

      <% @bump_group.parties.each do |party| %>
        <li class="list-group-item">
          <a href="/parties/<%= party.id %>">
            <%= party.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/parties/<%= party.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/parties/<%= party.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_party/<%= party.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Bump group has many conversations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Conversations
      </li>

      <% @bump_group.conversations.each do |conversation| %>
        <li class="list-group-item">
          <a href="/conversations/<%= conversation.id %>">
            <%= conversation.party_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/conversations/<%= conversation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/conversations/<%= conversation.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_conversation/<%= conversation.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
